<ng-container>
  <div class="w__100per d__flex d__flex--items-center d__flex--justify-between">
    <h2>Your Diary</h2>
    <img src="assets/icons/arrow.svg" alt="arrow">
  </div>

  <textarea #textarea class="w__100per" (blur)="$event.preventDefault(); $event.stopImmediatePropagation()" [(ngModel)]="value" placeholder="Write something"></textarea>

  <emoji-mart (click)="$event.preventDefault()" class="d__flex d__flex--justify-center"
              *ngIf="isEmoji"
              (emojiClick)="addEmoji($event)"
  ></emoji-mart>


  <div class="d__flex d__flex--items-center d__flex--justify-between">

    <img *ngIf="!isEmoji" (click)="showEmojis()" src="assets/icons/smile.svg" alt="smile">
    <img *ngIf="isEmoji" (click)="closeEmojis()" src="assets/icons/keyboard.png" alt="keyboard">

    <button (click)="onSave()">Save</button>

  </div>
</ng-container>

