@import "src/assets/scss/variables";

:host {
  background-color: $bg-color;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 16px;
  width: 395px;
  border-radius: 10px;
  background-color: $system-grays-ice;
  margin-bottom: 16px;
}

app-post {
  margin-top: 16px;
}

